.container{
  display: flex;
  height: 4rem;
  background-color: #efe9e0;
}

.content {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 850px;

  a {
    font-family: Georgia (serif);
    font-size: 2rem;
    text-decoration: none;
    color: black
  }
}