.container{
  display: flex;
  height: 4rem;
  background-color: antiquewhite;
}

.content {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 1250px;

  a{
    font-family: Georgia (serif);
    font-size: 2rem;
    text-decoration: none;
    color: black
  }
}