
.card {
  width: 90%;
  max-width: 30rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid rgba(235, 235, 235, 0.5);
  background-color: rgba(204, 204, 204, 0.424);
  border-radius: 5px;

  div {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(90, 90, 90);
  }

  h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  svg {
    font-size: 2rem;
  }

  span {
    font-size: 0.75rem;
  }

  @media screen and (min-width: 768px) {
    width: 30rem;
  }
}