/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 30rem;
  margin: 1rem 2rem
}

.form select{
  width: 30rem;
  margin: 1rem 2rem
}

.form textarea{
  width: 30rem;
  margin: 1rem 2rem
}

.radios {
  display: flex;
  justify-content:space-around;
  width: 30rem;
  margin: 1rem 2rem
}
.radios label {
  display: flex;
  align-items: center;
  width: 10rem;
}

.radios label input{
  margin: 0;
}

.form button{
  width: 15rem;
} */